
<mat-card>
  <mat-card-header>
    <mat-card-title>
      Search Filters
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <ng-container *ngTemplateOutlet="tplFields"></ng-container>

    <mat-selection-list
      #refAdvancedOptions
      [hidden]="undefined == ((instructors$ | async) || (subjects$ | async))"
      (selectionChange)="advancedChanged($event)"
    >
      <mat-list-option
        ngDefaultControl
        color="primary"
        [value]="'showAllDay'"
        [selected]="(advanced$ | async).showAllDay"
        [(ngModel)]="showAllDay"
      >
        Show All Day:
      </mat-list-option>

      <mat-list-option
        ngDefaultControl
        color="primary"
        [value]="'showOnline'"
        [disabled]="!(advanced$ | async).showAllDay"
        [selected]="(advanced$ | async).showOnline"
        [(ngModel)]="showOnline"
      >
        Show Online:
      </mat-list-option>
    </mat-selection-list>
  </mat-card-content>

  <span class="spacer"></span>

  <ng-container *ngTemplateOutlet="tplActions"></ng-container>

</mat-card>


<ng-template #tplFields>
  <mat-grid-list cols="12" rowHeight="75px">

    <mat-grid-tile id="semester-container" colspan="12" style="height: 75px;">
      <h4>Semester:</h4>

      <span class="spacer"></span>

      <ng-select
        #refTermSearch
        appendTo="#semester-container"
        placeholder="Chose a Semester"
        bindValue="id"
        bindLabel="name"
        [multiple]="false"
        [clearable]="true"
        [items]="terms$ | async"
      ></ng-select>
    </mat-grid-tile>

    <mat-grid-tile id="block-container" colspan="12" [hidden]="undefined == (blocks$ | async)">
      <h4>Term Block:</h4>

      <span class="spacer"></span>

      <ng-select
        #refBlockSearch
        appendTo="#block-container"
        placeholder="Chose a Block"
        bindValue="id"
        bindLabel="name"
        [multiple]="true"
        [clearable]="true"
        [items]="blocks$ | async"
      ></ng-select>
    </mat-grid-tile>

    <mat-grid-tile
      id="subject-container"
      colspan="12"
      [hidden]="undefined == (subjects$ | async)"
    >
      <h4>Subjects:</h4>

      <span class="spacer"></span>

      <ng-select
        #refSubjectSearch
        appendTo="#subject-container"
        placeholder="Chose a Subject"
        groupBy="meta"
        bindValue="id"
        bindLabel="name"
        [virtualScroll]="true"
        [multiple]="true"
        [clearable]="true"
        [items]="subjects$ | async"
      ></ng-select>
    </mat-grid-tile>

    <mat-grid-tile
      id="instructor-container"
      colspan="12"
      [hidden]="undefined == (instructors$ | async)"
    >
      <h4>Instructors:</h4>

      <span class="spacer"></span>

      <ng-select
        #refInstructorSearch
        appendTo="#instructor-container"
        placeholder="Chose a Instructor"
        groupBy="meta"
        bindValue="id"
        bindLabel="name"
        [virtualScroll]="true"
        [multiple]="true"
        [clearable]="true"
        [items]="instructors$ | async"
      ></ng-select>
    </mat-grid-tile>

  </mat-grid-list>
</ng-template>




<ng-template #tplActions>
  <mat-card-actions align="start">
    <button mat-button color="accent" (click)="close()">
      Close
    </button>

    <button mat-button color="accent" (click)="clearFilters()">
      Clear
    </button>

    <span class="spacer"></span>

    <button
      mat-button
      color="primary"
      [disabled]="disableSearch$ | async"
      (click)="sendSearchFilters()"
    >
      Search
    </button>
  </mat-card-actions>
</ng-template>
