classplan-search-modal {

  mat-card {
    display: flex !important;
    flex-direction: column;
    height: fit-content;
    min-height: 560px;

    mat-card-header {
      .mat-card-header-text {
        margin: 0 4px;
      }
    }

    mat-card-content {
      mat-grid-list {
        // min-height: 420px;
        margin: 0 16px;

        mat-grid-tile.mat-grid-tile {
          overflow: visible;
          display: flex;
          flex-direction: row;

          ng-select {
            width: 75%;
            min-width: 180px;
          }
        }
      }

      mat-selection-list {
        figure {
          // padding: 16px;
          justify-content: flex-start;
        }
      }
    }

    mat-card-actions.mat-card-actions {
      display: flex;
      align-items: flex-end;
    }
  }
}
