classplan-search-modal {

  mat-card {
    display: flex !important;
    flex-direction: column;
    height: fit-content;
    min-height: 560px;

    mat-card-content {
      mat-grid-list {
        min-height: 420px;

        mat-grid-tile.mat-grid-tile {
          overflow: visible;
          display: flex;
          flex-direction: row;

          ng-select {
            width: 50%;
            min-width: 180px;
          }
        }
      }
    }

    mat-card-actions.mat-card-actions {
      display: flex;
      align-items: flex-end;
    }
  }
}
