
<mat-toolbar id="header">

  <button
    mat-button
    id="btn-menu-toggle"
    color="accent"
    [matMenuTriggerFor]="menu"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu" yPosition="below" xPosition="after">

    <button
      mat-menu-item
      (click)="openSearch()"
    >
      <mat-icon>search</mat-icon>
      <span>Search</span>
    </button>

    <button
      mat-menu-item
      [disabled]="noEvents$ | async"
      (click)="downloadExport()"
    >
      <mat-icon>cloud_download</mat-icon>
      <span>Export</span>
    </button>

    <button
      mat-menu-item
      [disabled]="noFilters$ | async"
      (click)="clearFiltersAndEvents()"
    >
      <mat-icon color="warn">clear</mat-icon>
      <span>Clear</span>
    </button>

  </mat-menu>

  <span id="toolbar-title" [innerHTML]="title$ | async"></span>

  <span id="logo-container">
    <img src="app/assets/images/ou-logo-grey.png" alt="OU Logo" />
  </span>

</mat-toolbar>


<classplan-calendar
  #calendar
  [filters]="filters$ | async"
></classplan-calendar>

<ng-template #tplLoadingSpinner>

  <div id="update-spinner">
    <mat-progress-spinner
      color="accent"
      [mode]="(updateProgress$ | async) > 0 ? 'determinate' : 'indeterminate'"
      [value]="updateProgress$ | async"
    ></mat-progress-spinner>

    <h3>Please standby while we update the scheduling data.</h3>
  </div>
</ng-template>

<router-outlet></router-outlet>
