classplan-root {

  mat-toolbar#header {
    background-color: rgb(95, 20, 20);
    padding: 8px 16px;

    #toolbar-title {
      flex: 1 1 auto;
      color: #FFF;
      margin: 0 32px;
      text-align: center;
    }

    #logo-container {
      padding-right: 16px;
      float: right;
      height: 100%;

      img {
        height: 100%;
        width: auto;
      }
    }
  }

}
