
<mat-toolbar id="header">

  <button
    mat-button
    id="btn-menu-toggle"
    color="accent"
    [matMenuTriggerFor]="menu"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu" yPosition="below" xPosition="after">

    <button
      mat-menu-item
      (click)="openSearch()"
    >
      <mat-icon>search</mat-icon>
      <span>Search</span>
    </button>

    <button
      mat-menu-item
      [disabled]="noEvents$ | async"
      (click)="downloadExport()"
    >
      <mat-icon>cloud_download</mat-icon>
      <span>Export View</span>
    </button>

    <!--<button mat-menu-item disabled>
      <mat-icon>create</mat-icon>
      <span>Create Class</span>
    </button>-->

    <button
      mat-menu-item
      [disabled]="noFilters$ | async"
      (click)="clearFiltersAndEvents()"
    >
      <mat-icon color="warn">clear</mat-icon>
      <span>Clear View</span>
    </button>

  </mat-menu>

  <span class="spacer"></span>

  <img src="app/assets/images/ou-logo-grey.png" alt="OU Logo" />
</mat-toolbar>


<classplan-calendar
  [filters]="filters$ | async"
></classplan-calendar>

<router-outlet></router-outlet>
