
<div class="ou-calendar">

  <full-calendar
    defaultView="timeGridWeek"
    minTime="07:00:00"
    maxTime="23:00:00"
    contentHeight="auto"
    allDayText="unassigned"
    [startParam]="null"
    [endParam]="null"
    [lazyFetching]="true"
    [allDaySlot]="1 == (filters$ | async)?.uiFilters.showAllDay"
    [weekends]="false"
    [plugins]="plugins"
    [events]="events$ | async"
    [eventOrder]="['start', 'allDay', 'backgroundColor']"
    [views]="views"
    [header]="header"
    (viewSkeletonRender)="calendarRendered($event)"
    (eventRender)="eventRender($event)"
    (datesRender)="datesRendered($event)"
  ></full-calendar>

  <ng-template classplanTooltipHost></ng-template>

</div>
