classplan-search {

  .tippy-popper {
    pointer-events: all !important;

    .tippy-tooltip {
      background-color: transparent;
    }
  }

  color-github {
    z-index: 100000;
  }

  mat-card.mat-card {
    display: flex !important;
    flex-direction: column;
    height: auto;
    min-height: 550px;
    padding: 8px;

    mat-card-header {
      .mat-card-header-text {
        margin: 0;
      }
    }

    #spinner-wrapper {
      margin: 32px auto;
      max-height: 56px;
      max-width: 56px;

      mat-progress-spinner {
        max-height: inherit;
        max-width: inherit;

        svg {
          max-height: inherit;
          max-width: inherit;
        }
      }
    }

    mat-card-content {
      display: flex;
      flex-direction: column;

      mat-list {
        margin: 0 4px;
        padding-top: 0;

        mat-list-item.mat-list-item {
          overflow: visible;
          display: flex;
          flex-direction: row;
          position: relative;
          height: auto !important;
          min-height: 75px;
          margin: 12px 0 0;

          &.has-checkbox {
            flex-direction: column;

            mat-checkbox {
              color: gray;
            }
          }

          .mat-list-item-content {
            width: 100%;
            padding: 0;

            div.row {
              width: 100%;
              display: flex;
              flex-direction: row;

              &.checkbox {
                justify-content: flex-end;
              }
            }

            ng-select {
              width: 100%;

              .ng-select-label {
                cursor: context-menu;
                padding-top: 1px;
              }

              .color-picker {
                height: 17px;
              }

              .ng-placeholder {
                overflow: hidden;
                max-width: 90%;
                text-overflow: ellipsis;
              }

              &.ng-select.ng-select-multiple .ng-select-container.ng-has-value .ng-value-container {
                padding-top: 0;
                border-top: 1.5em solid transparent;
              }

              .ng-value {
                height: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;

                .ng-value-icon {
                  display: inherit;
                  flex-direction: inherit;
                  align-items: inherit;
                  height: 19px;
                }

                .ng-value-icon.left {
                  padding: 1px 3px 0 1px;
                }

                .ng-value-icon.right {
                  padding: 1px 0 3px 3px;
                }
              }
            }

            ng-dropdown-panel {
              .ng-select-search {
                padding-left: 4px;
                width: 95%;
                line-height: 24px;
              }
            }

          }

          &#meeting-type {
            width: 100%;
            margin: 0;

            mat-form-field {
              width: inherit;
            }
          }
        }
      }

      mat-selection-list {
        padding: 0 16px;

        mat-list-option {
          div {
            padding: 0;
          }
        }
      }
    }

    mat-card-actions.mat-card-actions {
      display: flex;
      align-items: flex-end;
    }
  }
}

#building-container .ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup {
  color: inherit;
  font-weight: bold;
}
