
<mat-card>
  <mat-card-header>
    <mat-card-title>
      Filters
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <ng-container *ngTemplateOutlet="tplFields"></ng-container>

    <ng-container *ngTemplateOutlet="tplAdvancedFields"></ng-container>
  </mat-card-content>

  <span class="spacer"></span>

  <mat-card-actions align="end">
    <ng-container *ngTemplateOutlet="tplActions"></ng-container>
  </mat-card-actions>

</mat-card>

<div class="color-container" hidden>
  <color-github
    #colorPallet
    triangle="hide"
  ></color-github>
</div>


<ng-template #tplFields>
  <mat-list>

    <mat-list-item id="semester-container">

      <ng-select
        #refTermSearch
        appendTo="#semester-container .mat-list-item-content"
        placeholder="Chose a Semester"
        bindValue="id"
        bindLabel="name"
        [multiple]="false"
        [clearable]="true"
        [items]="terms$ | async"
      ></ng-select>
    </mat-list-item>

    <mat-list-item
      id="block-container"
      [hidden]="undefined == (blocks$ | async)"
    >

      <ng-select
        #refBlockSearch
        appendTo="#block-container .mat-list-item-content"
        placeholder="Chose a Block"
        bindValue="id"
        bindLabel="name"
        [searchable]="false"
        [multiple]="true"
        [clearable]="true"
        [items]="blocks$ | async"
      >
        <ng-template ng-header-tmp>
          <input
            placeholder="Search..."
            type="text"
            class="ng-select-search"
            (input)="refBlockSearch.filter($event.target.value)"
          />
        </ng-template>

        <ng-template ng-label-tmp let-item="item">
          <span
            aria-hidden="true"
            class="ng-value-icon left ng-star-inserted"
            (click)="ngSelectDeselectItem(refBlockSearch, item)"
          >×</span>

          <span
            id="block-{{item.id}}"
            class="ng-select-label"
          >
            {{item.name}}
          </span>

          <span
            aria-hidden="true"
            class="ng-value-icon right ng-star-inserted"
            (mousedown)="ngOptionLabelClick($event, 'block', item, colorPallet)"
          >
            <img class="color-picker" alt="Color Picker" src="app/assets/images/color-wheel.png" />
          </span>
        </ng-template>

      </ng-select>

    </mat-list-item>

    <mat-list-item
      id="subject-container"
      class="has-checkbox"
      [hidden]="undefined == (subjects$ | async)"
    >
      <div matLine id="subject-first-row" class="row">

        <ng-select
          #refSubjectSearch
          appendTo="#subject-first-row"
          placeholder="Chose a Subject"
          groupBy="meta"
          bindValue="id"
          bindLabel="name"
          [searchable]="false"
          [virtualScroll]="true"
          [multiple]="true"
          [clearable]="true"
          [items]="subjects$ | async"
        >
          <ng-template ng-header-tmp>
            <input
              placeholder="Search..."
              type="text"
              class="ng-select-search"
              (input)="refSubjectSearch.filter($event.target.value);"
            />
          </ng-template>

          <ng-template ng-label-tmp let-item="item">
            <span
              aria-hidden="true"
              class="ng-value-icon left ng-star-inserted"
              (click)="ngSelectDeselectItem(refSubjectSearch, item)"
            >×</span>

            <span
              id="subject-{{item.id}}"
              class="ng-select-label"
            >
              {{item.name}}
            </span>

            <span
              aria-hidden="true"
              class="ng-value-icon right ng-star-inserted"
              (mousedown)="ngOptionLabelClick($event, 'subject', item, colorPallet)"
            >
              <img class="color-picker" alt="Color Picker" src="app/assets/images/color-wheel.png" />
            </span>
          </ng-template>

        </ng-select>
      </div>

      <div
        matLine
        class="row checkbox"
        [hidden]="refInstructorSearch.selectedValues?.length == 0"
      >
        <mat-checkbox
          #chkFilterSubjectsByInstructors
          labelPosition="before"
          color="primary"
          checked="{{(Filter$ | async)?.advanced?.xref?.subjects}}"
        >
          Filter by selected instructors
        </mat-checkbox>
      </div>
    </mat-list-item>

    <mat-list-item
      id="instructor-container"
      class="has-checkbox"
      [hidden]="undefined == (instructors$ | async)"
    >
      <div matLine id="instructor-first-row" class="row">

        <ng-select
          #refInstructorSearch
          appendTo="#instructor-first-row"
          placeholder="Chose a Instructor"
          groupBy="meta"
          bindValue="id"
          bindLabel="name"
          dropdownPosition="auto"
          [searchable]="false"
          [virtualScroll]="true"
          [multiple]="true"
          [clearable]="true"
          [items]="instructors$ | async"
        >

          <ng-template ng-header-tmp>
            <input
              placeholder="Search..."
              type="text"
              class="ng-select-search"
              (input)="refInstructorSearch.filter($event.target.value)"
            />
          </ng-template>

          <ng-template ng-label-tmp let-item="item">
            <span
              aria-hidden="true"
              class="ng-value-icon left ng-star-inserted"
              (click)="ngSelectDeselectItem(refInstructorSearch, item)"
            >×</span>

            <span
              id="instructor-{{item.id}}"
              class="ng-select-label"
            >
              {{item.name}}
            </span>

            <span
              aria-hidden="true"
              class="ng-value-icon right ng-star-inserted"
              (mousedown)="ngOptionLabelClick($event, 'instructor', item, colorPallet)"
            >
              <img class="color-picker" alt="Color Picker" src="app/assets/images/color-wheel.png" />
            </span>
          </ng-template>

        </ng-select>
      </div>

      <div
        matLine
        class="row checkbox"
        [hidden]="refSubjectSearch.selectedValues?.length == 0"
      >
        <mat-checkbox
          #chkFilterInstructorsBySubjects
          labelPosition="before"
          color="primary"
          checked="{{(Filter$ | async)?.advanced?.xref?.instructors || true}}"
        >
          Filter by selected subjects
        </mat-checkbox>
      </div>
    </mat-list-item>

    <mat-list-item
      id="building-container"
      class="has-checkbox"
      [hidden]="undefined == (buildings$ | async)"
    >
      <div matLine id="building-first-row" class="row">

        <ng-select
          #refBuildingSearch
          appendTo="#building-first-row"
          placeholder="Chose a Building"
          groupBy="rooms"
          bindValue="id"
          bindLabel="name"
          [selectableGroup]="true"
          [searchable]="false"
          [virtualScroll]="true"
          [multiple]="true"
          [clearable]="true"
          [items]="buildings$ | async"
        >
          <ng-template ng-header-tmp>
            <input
              placeholder="Search..."
              type="text"
              class="ng-select-search"
              (input)="refBuildingSearch.filter($event.target.value);"
            />
          </ng-template>

          <ng-template ng-optgroup-tmp let-item="item">
            {{item.name}}
          </ng-template>

          <ng-template ng-label-tmp let-item="item">
            <span
              aria-hidden="true"
              class="ng-value-icon left ng-star-inserted"
              (click)="ngSelectDeselectItem(refBuildingSearch, item)"
            >×</span>

            <span
              id="{{item?.rooms ? 'building' : 'room'}}-{{item.id}}"
              class="ng-select-label"
            >
              {{item.name}}
            </span>

            <span
              aria-hidden="true"
              class="ng-value-icon right ng-star-inserted"
              (mousedown)="ngOptionLabelClick($event, item.rooms ? 'building' : 'room', item, colorPallet)"
            >
              <img class="color-picker" alt="Color Picker" src="app/assets/images/color-wheel.png" />
            </span>
          </ng-template>

        </ng-select>
      </div>
    </mat-list-item>

  </mat-list>
</ng-template>



<ng-template #tplAdvancedFields let-hidden="hidden">

  <mat-expansion-panel
    [hidden]="undefined == ((instructors$ | async) || (subjects$ | async))"
  >

    <mat-expansion-panel-header>
      <mat-panel-title>
        Advanced
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-selection-list (selectionChange)="advancedChanged($event)">
      <mat-list-option
        ngDefaultControl
        color="primary"
        [value]="'showAllDay'"
        [selected]="(Filter$ | async).advanced.showAllDay"
        [(ngModel)]="showAllDay"
      >
        Show All Day:
      </mat-list-option>

      <mat-list-option
        ngDefaultControl
        color="primary"
        [value]="'showOnline'"
        [disabled]="!(Filter$ | async).advanced.showAllDay"
        [selected]="(Filter$ | async).advanced.showOnline"
        [(ngModel)]="showOnline"
      >
        Show Online:
      </mat-list-option>
    </mat-selection-list>

  </mat-expansion-panel>

</ng-template>



<ng-template #tplActions>
  <button mat-button color="accent" (click)="close()">
    Close
  </button>

  <button mat-button color="accent" (click)="clearFilters()">
    Clear
  </button>

  <span class="spacer"></span>

  <button
    mat-button
    color="primary"
    [disabled]="disableSearch$ | async"
    (click)="sendSearchFilters()"
  >
    Search
  </button>
</ng-template>
