/* You can add global styles to this file, and also import other style files */

@import "~@ng-select/ng-select/themes/material.theme.css";
@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";
@import "~@fullcalendar/timegrid/main.css";
@import "~tippy.js/dist/tippy.css";
@import "assets/material/material-styles";

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

span.spacer {
  flex: 1 1 auto;
}

.ellipses {
  text-overflow: ellipsis;
}

.hyper-case {
  text-align: justify;
  text-transform: uppercase;
}

.hidden, [hidden], [hidden="true"] {
  display: none !important;
}

.ng-select {
  padding-bottom: 0;
}

.tippy-popper {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

mat-dialog-container.mat-dialog-container {
  overflow: visible;
}

#update-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Toolbar menu.
div.mat-menu-content .mat-menu-item {
  padding: 0 24px 0 16px;
}

.select-meeting-type {
  min-width: calc(100% - 24px) !important;
  transform: translate(48px, 26px) !important;
  opacity: 1 !important;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 500ms;
  animation-delay: 0ms;
}


snack-bar-container.center {
  simple-snack-bar span {
    margin: 0 auto;
  }
}
