/* You can add global styles to this file, and also import other style files */

@import "~@ng-select/ng-select/themes/material.theme.css";
@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";
@import "~@fullcalendar/timegrid/main.css";
@import "~tippy.js/dist/tippy.css";
@import "assets/material/material-styles";

span.spacer {
  flex: 1 1 auto;
}

.ellipses {
  text-overflow: ellipsis;
}

.hidden, [hidden], [hidden="true"] {
  display: none !important;
}

.ng-select {
  padding-bottom: 0;
}

.tippy-popper {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

mat-dialog-container.mat-dialog-container {
  overflow: visible;
}

#update-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
